.points {
	font-size: 2rem !important;
}

#design-choices, #audience, #process, #learnings, #difficulty,
#controls, #incentives, #player-learning, #takeaways, #bible-process,
#development, #research-1, #research-2 {
	display: none;
}

p {
	margin-top: 2% !important;
}

.btn {
	border-radius: 75px !important;
	padding: .4rem 2rem !important;
}