.points {
	font-size: 2rem !important;
}

#design-choices, #audience, #process, #learnings, #difficulty,
#controls, #incentives, #player-learning, #takeaways, #bible-process,
#development, #research-1, #research-2 {
	display: none;
}

p {
	margin-top: 2% !important;
}

.app-icon {
	border-radius: 75px !important;
}

.btn {
	border-radius: 75px !important;
	padding: .4rem 2rem !important;
}

.rotate90 {
    width: 250px !important;
    height: 250px !important;
}

.cid-rdngh0mghN .card-box, .cid-rdn9ujJyEi .card-box, .cid-rdnmbZluD8 .card-box {
	padding: 2rem 0rem !important;
}

.cid-rdmshFKrs8 {
	padding-bottom: 5% !important;
}
